<%= link_to("Back to index", {:action => 'show'}, :class => "back-link") %>
<div class="users delete">
	<h2>Create an Admin</h2>
	<%= form_for(:user, :url => {:action => 'destroy', :id => @user.id}) do |f|%>
		<p>Are you sure you want to delete?</p>
		<br />
		<p class="reference-name"></p>
		<div class="form-button">
			<%= submit_tag("Delete Admin") %>
		</div>
	<% end %>
</div>